anytree
dash
dash_ace
deprecation
ipython
ipywidgets
jaxlib
json_tricks
matplotlib
numpy
opticalglass
packaging
pandas
plotly
PyQt5
PyQt5_sip
pytest
QDarkStyle
qtconsole
Requests
scipy
setuptools
traitlets
transforms3d
